body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f4f4f4;
    color: #1e2a38;
}

header {
    background-color: #1e2a38;
    color: white;
    padding: 28px;
    font-size: 1.2rem;
    font-weight: bold;
}

h1 {
    margin: 0;
    font-size: 2rem;
}

section {
    padding: 40px 20px;
    margin: 20px auto;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
    background-color: white;
}

#sobre p{
    font-style: italic;
    margin: 0 40px;
    text-justify: auto;
}

.projeto {
    background: #ffffff;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    border-radius: 10px;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.projeto:hover {
    transform: scale(1.05);
}

.projeto a{
    display: inline-block;
    margin-top: 15px;
    padding: 10px 15px;
    background: #00a8e8;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background 0.3s;
}

.projeto a:hover {
    background: #007bbf;
}

.projeto-background{
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#projeto-um{
    background-image: url(Lista\ de\ tarefas.jpg);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
}

#projeto-dois{
    background-image: url(BARBOSINHA_LAPTOP.png);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
}

footer {
    background-color: #1e2a38;
    color: white;
    padding: 15px;
    font-size: 0.9rem;
    margin-top: 40px;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');