body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: var(--cor-hover-e-background);
    color: var(--cor-texto-primaria);
}

header {
    background-color: var(--cor-bar-e-bottons-secundaria);
    color: var(--cor-texto-secundaria);
    padding: 28px;
    font-size: 1.2rem;
    font-weight: bold;
}

:root {
    --cor-texto-primaria: #02060D;
    --cor-texto-secundaria: white;
    --cor-bar-e-bottons: #1D3240;
    --cor-bar-e-bottons-secundaria: #0B1C26;
    --cor-hover-e-background: #68788C;
}


h1 {
    margin: 0;
    font-size: 2rem;
}

section {
    padding: 40px 20px;
    margin: 20px auto;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
    background-color: var(--cor-texto-secundaria);
}

#sobre p{
    font-style: italic;
    margin: 0 40px;
    text-justify: auto;
}

.projeto {
    background: #ffffff;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    border-radius: 10px;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.projeto:hover {
    transform: scale(1.05);
}

.projeto a{
    display: inline-block;
    margin-top: 15px;
    padding: 10px 15px;
    background: var(--cor-bar-e-bottons);
    color: var(--cor-texto-secundaria);
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background 0.3s;
}

.projeto a:hover {
    background: var(--cor-hover-e-background);
}

.projeto-background{
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#projeto-um{
    background-image: url(Lista\ de\ tarefas.jpg);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
}

#projeto-dois{
    background-image: url(BARBOSINHA_LAPTOP.png);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
}

footer {
    background-color: var(--cor-bar-e-bottons-secundaria);
    color: var(--cor-texto-secundaria);
    padding: 15px;
    font-size: 0.9rem;
    margin-top: 40px;
}

#contato ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
}

#contato ul li a{
    text-decoration: none;
    color: var(--cor-texto-primaria);
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');